nav {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 12px auto;
    height: 3em;
    background-color: rgba(248, 245, 245, 0.966);
    margin: 0 auto 3em;
}

nav a {
    margin: 0 32px;
}