// /******* card varables */

$backgroundColorCard : rgb(233, 223, 214);
$borderRadiusCard : 10px;
$widthArticle : 25%;
$paddingArticle : 18px;
$boxShadowArticle: 0px 4px 9px 3px #babdc0;
$marginArticle: 20px auto;

// ********************************

// *********** mixin **************

@mixin myArticleCard(
    $widthArticle,
    $backgroundColorCard,
    $borderRadiusCard,
    $paddingArticle,
    $marginArticle,
    $boxShadowArticle,
) {
    width: $widthArticle;
    background-color: $backgroundColorCard;
    border-radius: $borderRadiusCard;
    padding: $paddingArticle;
    margin: $marginArticle;
    box-shadow: $boxShadowArticle;
}

// *****************************************

article {
    display: flex;
    flex-direction: column;

    @include myArticleCard(
        ($widthArticle),
        ($backgroundColorCard),
        ($borderRadiusCard),
        ($paddingArticle),
        ($marginArticle),
        ($boxShadowArticle),
    )
}

article h2 {
    text-align: center;
    margin: 6px 0 12px;
}
