<div class="article-container">
    <button (click)="togglePublication()" class="btn-published">
      {{ article1.isPublished ? "Publier l'article" : "Dépublier l'article" }}
    </button>
    <p>{{ article1.isPublished ? "Article publié" : "Article non publié"}}</p>

    @if (article1.isPublished) {
    <article>
      <img [src]="article1.image" alt="photo de {{ article1.title }}" />
      <h2>{{ article1.title }}</h2>
      <h3>{{ article1.author }}</h3>
      <p>{{ article1.content }}</p>
      <hr>
      <label for="">Entrer votre commentaire :</label>
      <input type="text" [(ngModel)]="article1.comment">
      <p>Commentaire :</p>
      <p>{{ article1.comment }}</p>
    </article>
    }
  </div>
