// ******* variables **************

$main-familly-font: Verdana, Geneva, Tahoma, sans-serif;
$mainFontColor: rgb(26, 24, 24);

// ********** ALL ***************

* {
    font-family: $main-familly-font;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
    color: $main-familly-font;
}