<main class="main">
  <div>
    <div class="article-container">
      @for (article of articles; track $index) { @if (article.isPublished) {
      <article [ngClass]="{ 'popular-article': article.likes > 100 }">
        <a [routerLink]="['/article', article.id]">Voir l'article</a>
        <img [src]="article.image" alt="photo de {{ article.title }}" />
        <h2 [ngStyle]="{ color: article.likes > 150 ? 'green' : 'black' }">
          {{ article.title }}
        </h2>
        <h3>Par {{ article.author }}</h3>
        <p>{{ article.content }}</p>
        <p>Commentaire :</p>
        <p>{{ article.comment }}</p>
        <hr />
        <p>Likes : {{ article.likes }}</p>
      </article>
      } } @empty {
      <p>Aucun article disponible</p>
      }
    </div>
  </div>
</main>
